
@{
    ViewData["Title"] = "Index";
    Layout = "~/views/_Layout2.cshtml";
}

<h1>This is Home Page</h1>
<p>this is my Home page</p>
@*<h1>Current Date & Time is @DateTime.Now</h1>

<h1>Current year is @DateTime.Now.Year</h1>
@{
    var name = "Neeraj ";
    var age = 23;
    var learning = "C# langauage";

}

<h2><b> Name = @name</b></h2>
<h2><b> Age = @age</b></h2>
<h2><b> Learning = @learning</b></h2>*@